.contactSection {
  padding: 50px 0 30px;

  @media screen and (min-width: 767px) {
    padding: 50px 0 120px;
  }
}

.contactList {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 767px) {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    margin: 20px 0;
  }
}